<%- include('partials/header') %>
<form action="/compose" method="POST">
    <input value="a" type="text" placeholder="Write Your Thoughts" name="journal">
    <button type="submit" >Publish</button>
</form>
<%- include('partials/footer') %>